$selector-height: 25rem;
$option-width: 18rem;

.selector_component {
  margin: 5rem;
  border: solid 2px black;
  width: $selector-height;
  height: $selector-height;
  border-radius: 50%;
  position: relative;

  &:first-of-type {
    transform: rotate(25deg);
  }

  .middle_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    border: solid 2px black;
    // line-height: 0;
  }

  .option:nth-of-type(1) {
    display: flex;
    justify-content: flex-end;
    transform: rotate(-50deg);
    position: absolute;
    // border-bottom: solid 1px black;
    width: $option-width;
    top: 11.15rem;
    right: 3.6rem;
  }
  .option:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    transform: rotate(-25deg);
    position: absolute;
    // border-bottom: solid 1px black;
    width: calc($option-width + 1.5rem);
    top: 10.9rem;
    right: 2.1rem;
  }
  .option:nth-of-type(3) {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    // border-bottom: solid 1px black;
    width: $option-width;
    top: 11.2rem;
    right: 3.55rem;
  }
}
