$selector-height: 9rem;
$option-width: 11rem;

.options_wrapper {
  width: 90%;
  justify-content: space-between;
}

.session_option_component {
  margin: 2rem;

  .middle_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $selector-height;
    width: $selector-height;
    border-radius: 50%;
    border: solid 2px black;
  }

  .location_selector_wrapper {
    position: relative;
    transform: rotate(25deg);

    .option:nth-of-type(1) {
      display: flex;
      justify-content: flex-end;
      transform: rotate(-50deg);
      position: absolute;
      border-bottom: solid 1px black;
      width: $option-width;
      top: -0.68rem;
      right: -4.06rem;
    }

    .option:nth-of-type(2) {
      display: flex;
      justify-content: flex-end;
      transform: rotate(-25deg);
      position: absolute;
      border-bottom: solid 1px black;
      width: calc($option-width + 1.5rem);
      top: 0.76rem;
      right: -7.15rem;
    }

    .option:nth-of-type(3) {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      border-bottom: solid 1px black;
      width: $option-width;
      top: 3.35rem;
      right: -6.5rem;
    }
  }
}

.nav_button_wrapper {
  width: 100%;
  // position: absolute;
  // top: 30rem;
}
