@mixin base_blob($rotate, $transform-rotate, $scale) {
  position: absolute;
  transform: rotate($rotate);
  filter: blur(2.8rem);
  transition: all 3s;
  &:hover {
    transform: rotate($transform-rotate) scale($scale);
  }
}
