@use "@/styles/variables";
@use "@/styles/mixins/mediaQueries";

.form_wrapper {
  width: 100%;
}

.login_form {
  outline: solid 2px variables.$clr-neutral-100;
  width: calc(100% - 2rem);
  margin-inline: auto;
  padding: 2rem;
  border-radius: variables.$br-1;

  .input_wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    min-width: 90%;

    .form_label {
      margin-bottom: 0.2rem;
    }
  }

  .button_wrapper {
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
  }

  @include mediaQueries.tablet {
    width: calc(100% - 10rem);
  }

  @include mediaQueries.desktop {
    width: calc(100% - 20rem);
  }

  @include mediaQueries.large-screen {
    width: calc(100% - 35rem);
  }
}
