@use "@/styles/variables.scss";

.button_component {
  min-width: 10rem;
  position: relative;
  z-index: 2;

  color: variables.$clr-neutral-100;
  transition: 0.35s;
  border: solid 1px variables.$clr-neutral-100;
  border-radius: variables.$br-1;

  &:hover,
  &:focus {
    color: variables.$clr-neutral-900;
    box-shadow: inset 22rem 0 0 0rem
      adjust-hue(variables.$clr-neutral-100, 45deg);
  }
  a,
  .button {
    width: 100%;
    padding: variables.$padding-2 variables.$padding-3;
    &:hover {
      cursor: pointer;
    }
  }
}
