@use "@/styles/variables.scss";

.button_component {
  width: 100%;

  a,
  .button {
    outline: solid 2px variables.$clr-neutral-100;
    padding: variables.$padding-1 variables.$padding-2;
    border-radius: variables.$br-1;
    font-size: variables.$fs-400;
    color: variables.$clr-neutral-100;
    text-decoration: none;
    min-width: 10rem;
    transition: all 0.2s;
    z-index: 1;

    &:hover {
      background-color: variables.$clr-neutral-100;
      color: variables.$clr-neutral-900;
      outline: solid 2px variables.$clr-neutral-100;
      cursor: pointer;
    }
  }
}
