@use "@/styles/variables.scss";

.nav {
  display: flex;
  gap: variables.$size-8;
  justify-content: flex-end;
  align-items: center;
  padding-right: variables.$size-20;
  border-bottom: solid 1px rgba(variables.$clr-neutral-100, variables.$op-half);
  height: variables.$size-38;
}

.logout {
  opacity: variables.$op-half;
}
