@use "@/styles/variables.scss";
@use "@/styles/mixins/blur.scss";

.buttons_wrapper {
  gap: 1rem;
  margin: 2rem 0;
}

.timer_wrapper {
  z-index: 2;
  padding: 5rem;
  border-radius: 50%;
  @include blur.bgblur(7px);
}
