// colors
$clr-neutral-100: #eaeaea;
$clr-neutral-300: #bbb9b9;
$clr-neutral-500: #706767;
$clr-neutral-900: #18191b;
$clr-primary-100: #b2d0ce;
$clr-primary-200: #66a19d;
$clr-primary-300: #00635d;
$clr-bold-100: #f5cda7;
$clr-bold-500: #faa381;

// opacity
$op-half: 0.5;

// font-families
$ff-sans: "Open Sans", sans-serif;

// padding
$padding-1: 0.5rem;
$padding-2: 0.75rem;
$padding-3: 1.5rem;
$padding-4: 3rem;

// border-radius
$br-1: 10px;
$br-2: 15px;

// font-sizes
$fs-900: 3.75rem; // 60px
$fs-800: 3rem; // 48px
$fs-600: 1.5rem; // 24px
$fs-500: 1.3125rem; // 21px
$fs-400: 1.125rem; // 18px

// font-weights
$fw-400: 400;
$fw-700: 700;

// size/spacing values (Including the border-width)
$size-8: 0.5rem;
$size-12: 0.75rem; // (not in design)
$size-16: 1rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-32: 2rem;
$size-36: 2.25rem;
$size-38: 3rem; // nav height
